/* .carousel-container .carousel-cells .carousel-cell .banner {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: none !important;
} */
/* .carousel-cells .carousel-cell img,
.carousel-cells .carousel-cell video {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: none !important;
} */
