/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma//css/bulma.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
/* @import "@angular/material/prebuilt-themes/deeppurple-amber.css"; */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
